/* You can add global styles to this file, and also import other style files */
/* Importing Bootstrap SCSS file. */
@use 'bootstrap/scss/bootstrap';

// Import styles with default layout.
@use "@coreui/coreui/scss/coreui" as * with (
  $enable-deprecation-messages: false
);

// Import Chart.js custom tooltips styles
@use "@coreui/chartjs/scss/coreui-chartjs";

// Custom styles for this theme
@use "theme";

// Some temp fixes
//@use "fixes";

// If you want to add custom CSS you can put it here.
@use "custom";

// Examples
// We use those styles to show code examples, you should remove them in your application.
@use "examples";

@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css');





